*{margin: 0;padding: 0;border: 0; outline: none;}
body{}
body>div{margin-top: 1.5rem;width: 100%;text-align: center;}
span{font-size: 1.6rem;color:#fff;}
body>span{color: #000;text-align: center;display: block;font-weight: 900;}
a{text-decoration: none;color: #000;display: block;width: 100%;background-color: gray;}
body>div:nth-child(1)>a{background-color: red}
body>div:nth-child(2)>a{background-color: orange;}
body>div:nth-child(3)>a{background-color: greenyellow;}
body>div:nth-child(4)>a{background-color: green;}
body>div:nth-child(5)>a{background-color: blue;}
body>div:nth-child(6)>a{background-color: #ff0000;}
hr{width: 99%;border: 1px dotted;}